.status-bar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  margin: 0 3px;
  padding: 5px 5px;
  background-color: inherit;
  z-index: 2;
}
