/* 결과 페이지에 영향 */
#result{
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultDesc{
  font-size: 18px;
}

.resultname{
  font-size: 26px;
}

.kakao{
  color: black;
  background-color: #FEE500;
  font-size: 20px;
  border: 0px;
  border-radius: 10px;
}

.kakao:hover, .kakao:focus {
  /* 버튼위에 마우스 올렸을 시, 클릭 시 x */
  background-color: whitesmoke;
  color: #FEE500;
}
